
body {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    background: URL(Slide.gif.gif);
    background-size:cover;
}

#wpp {
    text-decoration: none;
    font-size: 40%;
    color: whitesmoke;

}

#wpp:hover {
    text-decoration: underline;
    font-size: 40%;



}
