
body {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    background: URL(nos.jpg), URL(olhos.jpg), URL(ani.jpg);
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

#wpp {
    text-decoration: none;
    font-size: 40%;
    color: whitesmoke;

}

#wpp:hover {
    text-decoration: underline;
    font-size: 40%;



}